.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: get-color('color-quaternary');
  min-width: 120px;
  padding: calc(92px + 20vh) 0 100px;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
  }

  &__copyright {
    color: get-color('color-secondary');
    font-size: map-get($font-size, 12px);
    font-weight: 500;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
  }
}
